<div class="container">
    <div class="boxs">
        <h1 class="title">REGISTRO DE USUARIO</h1>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="login">
            <div class="content">
                <div class="l">
                    <div class="input-container">
                        <input type="text" formControlName="name" placeholder="Nombre completo" class="with-icon"
                            required>
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="input-container">
                        <input type="email" formControlName="email" placeholder="Correo electrónico" class="with-icon"
                            required>
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="input-container">
                        <input type="password" formControlName="password" placeholder="Contraseña" class="with-icon"
                            required>
                        <i class="fas fa-lock"></i>
                    </div>
                    <input type="checkbox" formControlName="termsAndConditions" id="tyc" required>
                    <label for="tyc" class="tyc">Acepto los Terminos y Condiciones</label>
                </div>
                <div class="r">
                    <div class="input-container">
                        <input type="text" formControlName="lastName" placeholder="Apellidos" class="with-icon"
                            required>
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="input-container">
                        <input type="email" formControlName="confirmEmail" placeholder="Confirmar correo"
                            class="with-icon" required>
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="input-container">
                        <input type="password" formControlName="confirmPassword" placeholder="Confirmar contraseña"
                            class="with-icon" required>
                        <i class="fas fa-lock"></i>
                    </div>
                </div>
            </div>
            <button type="submit" [disabled]="!registrationForm.valid" id="btn_register">Registrarme</button>
            <p id="logIn">¿Ya tienes cuenta? <a [routerLink]="['/login']"><b>Ingresar</b></a></p>
        </form>
    </div>
</div>